.login_title {
    color:white;
    text-align: center;
    padding-top: 19rem;
    opacity: 80%;
    font-family: 'Raleway', sans-serif;
}

.login_form{
    max-width: 400px;
    display: block;
    margin: auto;
    opacity: 60%;
}

.homeimage {
    max-width: 100%;
}

.justifytext {
    text-align: justify;
}

a {
    text-decoration: none
}