{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}
{% block main %}

<h1 class="display-3 fw-normal lh-1 mt-4 mb-4 text-center">Admin panel</h1>
<hr class="featurette-divider">

<form action="/adduser" method="POST">
    <div class="form-group">
        <input class="form-control mt-2 rounded-pill text-center" type="text" name="form_username" placeholder="username">
        <input class="form-control mt-2 rounded-pill text-center" type="text" name="form_password" placeholder="password">
        <div class="d-grid">
            <button class="btn btn-success btn-block mt-2 rounded-pill" type="submit">Add</button>
        </div>
    </div>
</form>

<div class="row mt-4">
{% for user in usrquery %}
    <div class="col-md-4 text-center mt-4 mb-4">
    {{ user.id }} Username: {{ user.username }} <br/> Password: {{ user.password }}

    <a href="/removeuser/{{ user.id }}",action="POST">
    <div class="d-grid">
    <button class="btn btn-outline-danger btn-block mt-2 rounded-pill" type="submit">Remove</button>
</div>
</a>

</div>
{% endfor %}
</div>
{% endblock %} 