{% extends "base.html" %}
{% block title %}Main Event Log{% endblock %}

{% block main %}

<h1 class="display-3 fw-normal lh-1 mt-4 mb-4 text-center">Event Log</h1>
<hr class="featurette-divider">

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Event</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Details</th>
        <th scope="col">More Details</th>

      </tr>
    </thead>
    <tbody>
        {% for l in usrquery %}
    <tr>
        <th scope="row">{{ l.id }}</th>
        <td>{{ l.log_event }}</td>
        <td>{{ l.date }}</td>
        <td>{{ l.time}}</td>
        <td>{{ l.city }}</td>
        <td>{{ l.temperature }}</td>
    </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} 