{% extends "base.html" %}
{% block title %}Cities{% endblock %}

{% block main %}

<h1 class="display-3 fw-normal lh-1 mt-4 mb-4 text-center">Update City</h1>
<hr class="featurette-divider">

<h3 class="text-center"> City to update: {{ city_id }} {{ city_city }}</h3>

<form action="/replacecity/{{  city_id }}" method="POST">
    <div class="form-group">
        <input class="form-control mt-2 rounded-pill text-center" type="text" name="newcity" placeholder="Enter new city name">
        <div class="d-grid">
            <button class="btn btn-success btn-block mt-2 rounded-pill" type="submit">Add</button>
        </div>
    </div>
</form>

{% endblock %} 